h2{
    background-color: transparent;
    color: black;
    text-align: left;
    font-size: xx-large;
  }
  label{
    background-color: transparent;
    color: black;
    text-align: left;
    font-size: large;
  }
  input{
    background-color: beige;
    color: black;
    padding-left: 2px;
    text-align: left;
  }
  button{
    background-color: red;
    color: black;
    font-size: larger;
    text-align: left;
    
  }
  body{
    background-image: url("collegewallpaper.jpg");
    text-align: left;
    padding-top: 60px;
  }
  p{
    color: black;
    text-align: left;
  }
  
  
  table,th,td{
    border: 10px solid tomato;
    text-align: left;
    border-collapse: collapse;
    background-color: aquamarine;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
  
  }