
body{
    background-color: gainsboro;
}
a{
    color: white;
    text-align: top;
    padding-left: 100px;
}

 table,th,td{
        border: 5px solid red;
        border-collapse: collapse;
        text-align: left;
        background-color: green;
        padding: 16px;
 }
 label{
    padding-left: 40px;
    color: white;
 }
 p{
    text-align: left;
    padding-bottom: 100px;
    margin: auto;
    font-size: x-large;
 }
 img{
    margin-left: auto;
 }

