
body {
  font-family: "Lato", sans-serif;
  background-image: url("collegewallpaper.jpg");
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: left;
  background-color: pink;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  text-decoration: none;
  font-size: 20px;
  color: blue;
  display: block;
  border: none;
  background: none;
  width: 100%;
  padding: 10px;
  padding-left: 35px;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav h1{
  color: blue;
  font-size: xx-large;
  text-align: center;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: rgb(255, 47, 47);
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: wheat;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}